body {
        background-color: rgba(106, 235, 252, 0.164);
    }

    hr {
        background-color: none;
        border-style: none;
        border-top-style: dotted;
        border-color: rgb(0, 0, 0);
        border-width: 3px;
        height: 0px;
        width: 50%;
    }

    h1 {
        color: rgb(5, 81, 100);
    }

    img {
        height: 500px;
    }

    .profile{
        height: 150px;
        border-radius: 100%;
    }

    tbody>tr>:not(:nth-child(3)){
        text-align-last: center;
    }


    #Headler{
        color: blue;
    }