body {
        background-color: rgba(123, 255, 0, 0.781);
    }

    hr {
        background-color: none;
        border-style: none;
        border-top-style: dotted;
        border-color: red;
        border-width: 6px;
        height: 0px;
        width: 50%;
    }

    h1 {
        color: blueviolet;
    }